h1 {
    color: skyblue; 
}
h2 {
    color: magenta;
}
body {
    background-image: url ("https://cdn0.peopleimages.com/picture/201802/1648927-seeing-their-success-all-come-together-fit_400_400.jpg");
}
